__pycache__/
*.py[cod]
.ipynb_checkpoints/

.venv/
venv/

checkpoints/
test_results/

*.pth
*.pt
*.ckpt

.DS_Store

# Nếu dùng bản không kèm data, có thể bỏ comment dòng dưới
# data/raw/electricity.csv
